<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Admin/CropList.css">
  </head>
  <body>


    <div class="mainBack">


    <div class = "topBar">
        <img src = "/images/sort.svg" class ="topBar-openbtn" onclick="openNav()"/>
        <img src = "/images/SM-Warehouse-Logo.png" class ="topBar-storeMostLogo"/>
    </div>



    <div class = "sideBar">
      <div class="sideLogo">
        <a href="<%= data.URL %>/admin/getProfile" style="text-decoration: none; color: #fff;"><img src="/images/image.png"
            class="buttonclass person-image" /></a>
      </div>
      <div class="sideLogo">
        <a href="<%= data.URL %>/admin/getWarehouses" style="text-decoration: none; color: #fff;">
        <img src="/images/inventory.svg" class="buttonclass" /></a>
      </div>
      <div class="sideLogo">
        <a href="<%= data.URL %>/admin/logout" style="text-decoration: none; color: #fff;">
        <img src="/images/logout.svg" class="buttonclass" /></a>
      </div>
    </div>


    <div id="mySidepanel" class="sidepanel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <div class="sideBox">
        <img src="/images/image.png" alt="User Logo" class="userLogo">
        <p class="userName"> <%= Admin.firstName %> <%= Admin.lastName %> </p>
        <p class="userDesig">Admin</p>

        <table class="table">
          <tbody>
  					<tr>
  						<td class="leftBox">
  							<img src="/images/image.png" alt="" class="userOptionProfile" />
  						</td>
  						<td class="rightBox adjust">
  							<a href="<%= data.URL %>/admin/getProfile" style="text-decoration: none; color: #fff;">
  								<p>Profile</p>
  							</a>
  						</td>
  					</tr>
  					<tr>
  						<td class="leftBox">
  							<img src="/images/inventory.svg" alt="" class="userOption" />
  						</td>
  						<td class="rightBox">
  							<a href="<%= data.URL %>/admin/getWarehouses" style="text-decoration: none; color: #fff;">
  							<p>Warehouses</p></a>
  						</td>
  					</tr>
  					<tr>
  						<td class="leftBox">
  							<img src="/images/logout.svg" alt="" class="userOption" />
  						</td>
  						<td class="rightBox">
  							<a href="<%= data.URL %>/admin/logout" style="text-decoration: none; color: #fff;">
  							<p>Logout</p></a>
  						</td>
  					</tr>
  				</tbody>
        </table>
      </div>
    </div>








    <!-- <div class = "mainBackground">






      </div> -->








      <div class = "background3">
          <!--title-->
          <div>
              <h1 class = "title3">My Crops</h1>
          </div>

          <!--Crops List-->
          <div class = "contenar">



            <% CropList.forEach(function(crop) { %>


                <!--1-->
              <div class = "contan3">
                  <p class = "divimg">
                      <a href="./admin-crop-popup.html" target="_top">
                          <img src = "/images/crop.png" class = "crop-img"/>
                      </a>
                  </p>
                  <p class = "par3" > <%= crop.cropType %> </p>
                  <p class = "pargraph3" > <%= crop.amount %> Quintal</p>
              </div>

            <% }); %>


          </div>
      </div>

    </div>

    <script src="/css/TopSideBar.js" charset="utf-8"></script>


  </body>
</html>
