<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title></title>

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/Admin/StaffList.css" />
	</head>
	<body>
		<div class="topBar">
			<img src="/images/sort.svg" class="topBar-openbtn" onclick="openNav()" />
			<img src="/images/SM-Warehouse-Logo.png" class="topBar-storeMostLogo" />
		</div>

		<div class="sideBar">
			<div class="sideLogo">
				<img src="/images/image.png" class="buttonclass person-image" />
			</div>
			<div class="sideLogo">
				<img src="/images/inventory.svg" class="buttonclass" />
			</div>
			<div class="sideLogo">
				<img src="/images/logout.svg" class="buttonclass" />
			</div>
		</div>

		<div id="mySidepanel" class="sidepanel">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
				>&times;</a
			>
			<div class="sideBox">
				<img src="/images/image.png" alt="User Logo" class="userLogo" />
				<p class="userName">
					<%= data.admin.firstName %> <%= data.admin.lastName %>
				</p>
				<p class="userDesig">Admin</p>

				<table class="table">
					<tbody>
						<tr>
							<td class="leftBox">
								<img src="/images/image.png" alt="" class="userOptionProfile" />
							</td>
							<td class="rightBox adjust"><p>Profile</p></td>
						</tr>
						<tr>
							<td class="leftBox">
								<img src="/images/inventory.svg" alt="" class="userOption" />
							</td>
							<td class="rightBox"><p>Warehouses</p></td>
						</tr>
						<tr>
							<td class="leftBox">
								<img src="/images/logout.svg" alt="" class="userOption" />
							</td>
							<td class="rightBox"><p>Logout</p></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!--Staff and Farmer butten-->
		<div class="staff-main-div">
			<div class="staffcustomers-div">
				<a href="#" class="title sectionSelected">Staff</a>
				<form action="<%= data.URL %>/admin/getFarmersList" method="POST">
					<input type="hidden" value="<%= data.wid %>" name="warehouseId" />
					<button class="title">Farmers</button>
				</form>
			</div>

			<div class="background">
				<br />
				<!--Result-->

				<div class="main-div-for-line">
					<div class="admin-namediv">
						<h1 class="admin-hade1">Name</h1>
						<h1 class="admin-hade2">Position</h1>
						<h1 class="admin-hade3">Contact</h1>
					</div>
					<br />

					<% data.StaffList.forEach(function(staff) { %>

					<div class="admin-main-contan">
						<h2 class="admin-pargra">
							<%= staff.firstName %> <%= staff.lastName %>
						</h2>
						<h2 class="admin-pargra paradjust"><%= staff.role %></h2>
						<h2 class="admin-pargra22"><%= staff.mobile %></h2>
					</div>

					<% }); %>
				</div>
			</div>
		</div>

		<script src="/css/TopSideBar.js" charset="utf-8"></script>
	</body>
</html>
