<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/cs	s/Admin/ViewProfile.css" />
		<style type="text/css">
			*,
			*::before,
			*::after {
				box-sizing: content-box !important;
			}
		</style>
	</head>
	<body>
		<div class="topBar">
			<img src="/images/sort.svg" class="topBar-openbtn" onclick="openNav()" />
			<a href="/"
				><img src="/images/SM-Warehouse-Logo.png" class="topBar-storeMostLogo"
			/></a>
		</div>

		<div class="sideBar">
			<!-- <div class = "side-bar-div"> -->
			<div class="sideLogo">
				<a href="<%= data.URL %>/admin/getProfile" style="text-decoration: none; color: #fff;"><img src="/images/image.png"
						class="buttonclass person-image" /></a>
			</div>
			<div class="sideLogo">
				<a href="<%= data.URL %>/admin/getWarehouses" style="text-decoration: none; color: #fff;">
				<img src="/images/inventory.svg" class="buttonclass" /></a>
			</div>
			<div class="sideLogo">
				<a href="<%= data.URL %>/admin/logout" style="text-decoration: none; color: #fff;">
				<img src="/images/logout.svg" class="buttonclass" /></a>
			</div>
		</div>

		<div id="mySidepanel" class="sidepanel">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
				>&times;</a
			>
			<div class="sideBox">
				<img src="/images/image.png" alt="User Logo" class="userLogo" />
				<p class="userName">
					<% if(data) { %> <%= data.admin.firstName %> <%= data.admin.lastName
					%> <% } %>
				</p>
				<p class="userDesig">Admin</p>

				<table class="table">
					<tbody>
						<tr>
							<td class="leftBox">
								<img src="/images/image.png" alt="" class="userOptionProfile" />
							</td>
							<td class="rightBox adjust">
								<a href="<%= data.URL %>/admin/getProfile" style="text-decoration: none; color: #fff;"><p>Profile</p> </a>
							</td>
						</tr>
						<tr>
							<td class="leftBox">
								<img src="/images/inventory.svg" alt="" class="userOption" />
							</td>
							<td class="rightBox">
								<a href="<%= data.URL %>/admin/getWarehouses" style="text-decoration: none; color: #fff;"
									><p>Warehouses</p></a
								>
							</td>
						</tr>
						<tr>
							<td class="leftBox">
								<img src="/images/logout.svg" alt="" class="userOption" />
							</td>
							<td class="rightBox">
								<a href="<%= data.URL %>/admin/logout" style="text-decoration: none; color: #fff;"><p>Logout</p></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="mainBody">
			<div class="container-fluid ml-0">
				<h1 id="profile">
					<b>Profile</b>
				</h1>
				<a href="<%= data.URL %>/admin/getEditProfile">
					<button
						onClick="{this.props.onClick}"
						type="button"
						class="btn btn-outline-light btn p-2 pr-5 pl-5 js-scroll-trigger"
						id="editbtn"
					>
						<i class="fa fa-pencil-alt"></i> Edit
					</button>
				</a>
			</div>

			<div class="row">
				<div class="col-2 px-md-5" id="vline">
					<img
						src="/images/image.png"
						alt="Avatar"
						class="img-thumbnail"
						id="img"
					/>
					<!-- {/* <img src={"./logo192.png"} class="img-thumbnail" /> */} -->
				</div>
				<div class="col">
					<table class="table">
						<tbody>
							<tr>
								<td class="removeLine">
									<h5 class="data" id="mkt1">
										<b>First Name</b>
									</h5>
								</td>
								<td class="dataContent removeLine">
									<%= data.admin.firstName%>
								</td>
							</tr>
							<tr>
								<td>
									<h5 class="data" id="mkt1">
										<b>Last Name</b>
									</h5>
								</td>
								<td class="dataContent"><%= data.admin.lastName%></td>
							</tr>
							<tr>
								<td>
									<h5 class="data">
										<b>Mobile</b>
									</h5>
								</td>
								<td class="dataContent"><%= data.admin.mobile %></td>
							</tr>
							<tr>
								<td>
									<h5 class="data">
										<b>Email</b>
									</h5>
								</td>
								<td class="dataContent"><%= data.admin.email %></td>
							</tr>
							<tr>
								<td>
									<h5 class="data">
										<b>Address</b>
									</h5>
								</td>
								<td class="dataContent"><%= data.admin.address %></td>
							</tr>
							<tr>
								<td>
									<h5 class="data">
										<b>Registered Date</b>
									</h5>
								</td>
								<td class="dataContent"><%= data.admin.registerDate %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<script src="/css/TopSideBar.js" charset="utf-8"></script>
	</body>
</html>
