<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/WarehouseList.css">
  </head>
  <body>


            <a href="/"><img src="/images/backButton.png" alt="Avatar" class="backButton" id="img" /></a>
            <a href="/"><img src="/images/storeLogo.png" alt="Avatar" class="storeLogo" id="img" /></a>
            <h2 class="heading"> <span class="colorChange"> Warehouses </span> Near you </h2>


            <div class="wrapper">



            <% if(data) { %> <% data.warehouses.forEach(function(ware) { %>


            <div class="wareBox">



            <h2 class="colorChange boxHead"> Warehouse <%= ware.warehouseId %> </h2>


              <table class="table">

                <tr>
                  <td class="boxLeft">
                    <p> Capacity : </p>
                  </td>
                  <td class="boxRight">
                    <p> <%= ware.storage %> Quintal </p>
                  </td>
                </tr>


                <tr>
                  <td class="boxLeft">
                    <p> Available : </p>
                  </td>
                  <td class="boxRight">
                    <p> <%= ware.available %> Quintal </p>
                  </td>
                </tr>


                <tr>
                  <td class="boxLeft addressHead">
                    <p> Address : </p>
                  </td>
                  <td class="boxRight">
                    <p class="addressBox"> <%= ware.location.address %> </p>
                  </td>
                </tr>

                <tr>
                  <td class="boxLeft">
                    <p> Supervisor : </p>
                  </td>
                  <td class="boxRight">
                    <p> <%= ware.mobile %> </p>
                  </td>
                </tr>

              </table>


              </div>


              <% }); %>
              <% }; %>

            </div>


  </body>
</html>
