<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/Farmer/WarehouseList.css">
</head>

<body>


  <div class="topBar">
    <img src="/images/sort.svg" class="topBar-openbtn" onclick="openNav()" />
    <img src="/images/SM-Warehouse-Logo.png" class="topBar-storeMostLogo" />
  </div>



  <div class="sideBar">
    <div class="sideLogo">
      <a href="<%= data.URL %>/farmer/getProfile"><img src="/images/image.png" class="buttonclass person-image" /></a>
    </div>
    <div class="sideLogo">
      <a href="<%= data.URL %>/farmer/getCrops"><img src="/images/48-512.png" class="buttonclass cropAdjust1" /></a>
    </div>
    <div class="sideLogo">
      <a href="<%= data.URL %>/farmer/getWarehouses"><img src="/images/inventory.svg" class="buttonclass" /></a>
    </div>
    <div class="sideLogo">
      <a href="<%= data.URL %>/farmer/getPayment"> <img src="/images/receipt-24px.svg" class="buttonclass" /></a>
    </div>
    <div class="sideLogo">
      <a href="<%= data.URL %>/farmer/logout"> <img src="/images/logout.svg" class="buttonclass" /></a>
    </div>
  </div>


  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="sideBox">
      <img src="/images/image.png" alt="User Logo" class="userLogo">
      <p class="userName">
        <% if(data) { %>
          <%= data.farmer.firstName %>
            <%= data.farmer.lastName %>
              <% } %>
      </p>
      <p class="userDesig">Farmer</p>

      <table class="table">
        <tbody>
          <tr>
            <td class="leftBox"><img src="/images/image.png" alt="" class="userOptionProfile"></td>
            <td class="rightBox adjust">
              <p><a href="<%= data.URL %>/farmer/getProfile"> Profile </a></p>
            </td>
          </tr>
          <tr>
            <td class="leftBox"><img src="/images/48-512.png" alt="" class="userOption cropAdjust"></td>
            <td class="rightBox">
              <p><a href="<%= data.URL %>/farmer/getCrops"> My Crops </a></p>
            </td>
          </tr>
          <tr>
            <td class="leftBox"><img src="/images/inventory.svg" alt="" class="userOption"></td>
            <td class="rightBox">
              <p><a href="<%= data.URL %>/farmer/getWarehouses"> Warehouses </a></p>
            </td>
          </tr>
          <tr>
            <td class="leftBox"><img src="/images/receipt-24px.svg" alt="" class="userOption"></td>
            <td class="rightBox">
              <p><a href="<%= data.URL %>/farmer/getPayment"> Payment </a></p>
            </td>
          </tr>
          <tr>
            <td class="leftBox"><img src="/images/logout.svg" alt="" class="userOption"></td>
            <td class="rightBox">
              <p><a href="<%= data.URL %>/farmer/logout"> Logout </a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>








  <div class="mainBackground">






    <div class="searchdiv">
      <input type="text" class="input" />
    </div>
    <div class="buttendiv">
      <% var sort="asc" ,filter="name" %>
        <% if(data.sortp.sort=="asc" ) { %>
          <% sort="desc" %>
            <% } %>
              <% if(data.sortp.filter=="name" ) { %>
                <% filter="storage" %>
                  <% } %>
                    <%= sort%>
                      <%= filter%>

                        <a href="<%= data.URL %>/farmer/getWarehouses?sort=<%=data.sortp.sort%>&filter=<%=filter %>"><button
                            class="btnsort">
                            Filter<img src="/images/filter.svg" class="filterimg" />
                          </button></a>
                        <a href="<%= data.URL %>/farmer/getWarehouses?sort=<%=sort%>&filter=<%=data.sortp.filter %>"><button
                            class="btnsort">
                            Sort<img src="/images/sort.svg" class="filterimg" />
                          </button></a>
    </div>


    <div class="wareList">


      <% data.warehouses.forEach(function(ware) { %>



        <div class="admin-name-main-conta">
          <div class="warehouse-img">
          </div>
          <div class="admin-warehouse-details-div">
            <div class="admin-flex-1st-div">
              <h1 class="admin-link">Name : <%= ware.name %>
              </h1>
              <span class="admin-occupied"><span style=" padding-right: 2px;">Warehouse
                  ID:</span>
                <%= ware.warehouseId %>
              </span>
              <p class="admin-occupied"><span style=" padding-right: 2px;">Available:</span>
                <%= ware.available %> Quintal
              </p>
            </div>
            <div class="admin-flex-2nd-div">
              <h2 class="admin-addr"> Address: </h2>
              <h2 class="admin-addr2">
                <%= ware.location.address %>
              </h2>
            </div>
            <div class="admin-flex-3rd-div">
              <h2 class="admin-addr"> Supervisor Mobile: </h2>
              <h2 class="admin-addr2">
                <%= ware.mobile %>
              </h2>
            </div>
          </div>
        </div>


        <% }); %>


          <!-- <div class = "admin-name-main-conta">
             <div class = "warehouse-img">
             </div>
             <div class = "admin-warehouse-details-div">
             <div class = "admin-flex-1st-div">
                 <h2 class="-admin-link">Warehouse</h2>
                 <p class = "admin-occupied"> 18% occupied</p>
            </div>
            <div class = "admin-flex-2nd-div">
                 <h2 class = "admin-addr"> Address: </h2>
                 <h2 class = "admin-addr2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</h2>
            </div>
        </div>
        </div> -->


    </div>

  </div>




  <script src="/css/TopSideBar.js" charset="utf-8"></script>


</body>

</html>